<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ken.student.rubcourse.mapper.ClassCourseMapper">
    
<!--    <select id="getClassCourseListByClassId" resultType="cn.ken.student.rubcourse.entity.ClassCourse">-->
<!--        select *-->
<!--        from student_course_choosing.scc_class_course-->
<!--        where-->
<!--            class_id = #{classId}-->
<!--        and -->
<!--            is_deleted = 0-->
<!--    </select>-->

    <select id="getClassCourseList" resultType="cn.ken.student.rubcourse.dto.resp.ClassCourseListResp">
        select sc.*, commended_time, is_must
        from student_course_choosing.scc_course sc
        left join student_course_choosing.scc_class_course scc
        on sc.id = scc.course_id
        <where>
            scc.class_id = #{classId}
            <if test="recommendedTime != null">
                and commended_time = #{recommendedTime}
            </if>
            <if test="isMust != null ">
                and is_must = #{isMust}
            </if>
            <if test="type != null and type != ''">
                and type = #{type}
            </if>
            and is_deleted = 0
        </where>
    </select>
    
</mapper>
