<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ken.student.rubcourse.mapper.CourseDependenceMapper">

    <select id="selectCourseDependence" resultType="cn.ken.student.rubcourse.model.entity.CourseDependence">
        select *
        from student_course_choosing.scc_course_dependence
        where course_id = #{courseId}
        and is_deleted = false;
    </select>
    
    <select id="selectAfterCourse" resultType="cn.ken.student.rubcourse.model.entity.CourseDependence">
        select *
        from student_course_choosing.scc_course_dependence
        where is_deleted = false
        and pre_course_id = 
        (select scc.course_id from student_course_choosing.scc_course_class scc
        where scc.id = #{courseClassId} and scc.is_deleted = false)
    </select>
</mapper>
