<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ken.student.rubcourse.mapper.CourseInfoMapper">

    <resultMap id="courseDetail" type="cn.ken.student.rubcourse.entity.CourseInfo">
        <id column="id" property="id"/>
        <result column="course_name" property="courseName"/>
        <result column="campus" property="campus"/>
        <result column="exam_time" property="examTime"/>
        <result column="college" property="college"/>
        <result column="type" property="type"/>
        <result column="general_type" property="generalType"/>
        <result column="is_mooc" property="isMooc"/>
        <result column="language" property="language"/>
        <result column="choosing_num" property="choosingNum"/>
        <result column="capacity" property="capacity"/>
        <result column="credit" property="credit"/>
        <result column="exam_type" property="examType"/>
        <result column="teacher" property="teacher"/>
        <result column="status" property="status"/>
        <collection property="courseTimeplaceList" ofType="cn.ken.student.rubcourse.entity.CourseTimeplace" javaType="list">
            <result column="duration_time" property="durationTime"/>
            <result column="week_day" property="weekDay"/>
            <result column="day_no" property="dayNo"/>
            <result column="place" property="place"/>
        </collection>
    </resultMap>
    
    <select id="getCourseInfoPage" resultMap="courseDetail" parameterType="cn.ken.student.rubcourse.dto.CourseInfoListReq">
        SELECT sci.*, duration_time, week_day, day_no, place FROM scc_course_info sci
        LEFT JOIN scc_course_timeplace sct
        ON sci.id = sct.course_id
        <where>
            <if test="searchContent != null">
                (sci.id like concat("%",#{searchContent},"%")
                or course_name like concat("%",#{searchContent},"%")
                or teacher like concat("%",#{searchContent},"%"))
            </if>
            <if test="college != null">
                and college = #{college}
            </if>
            <if test="generalType != null">
                and general_type = #{generalType}
            </if>
            <if test="credit != null">
                and credit = #{credit}
            </if>
            <if test="campus != null">
                and campus = #{campus}
            </if>
            <if test="isMooc != null">
                and is_mooc = #{isMooc}
            </if>
            <if test="weekDay != null">
                and week_day = #{weekDay}
            </if>
            and status = 0
        </where>
    </select>
    
    <select id="getCourseNameList" resultType="cn.ken.student.rubcourse.dto.CourseNameListResp">
        select id, course_name from scc_course_info
        <where>
            <if test="searchContent != null">
                (id like concat("%",#{searchContent},"%")
                or course_name like concat("%",#{searchContent},"%"))
            </if>
            and status = 0
        </where>    
    </select>
</mapper>
